:root {
  --primary: #134686;
  --secondary: #FF6500;
  --dark: #0b192c;
  --light: #f2f2f2;
  --muted: #8B8B8B;
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  color: var(--dark);
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-part.left h1 {
  margin: 0;
}

.hero-part.left h4 {
  margin: 1vh 0;
  color: var(--muted);
}

.hero {
  background-color: var(--dark);
  height: max-content;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
}

.hero-part {
  flex: 1;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-part.left {
  background-color: var(--light);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.hero-part.right img {
  width: 50vw;
  position: absolute;
  bottom: -5vh;
  right: 8vw;
}

nav {
  background-color: var(--dark);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

nav div {
  flex: 1;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav div img {
  /* position: absolute; */
  height: 5vh;
  /* top: 5vh; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--light);
  text-decoration: none;
  font-weight: light;
}

section {
  background-color: var(--light);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 90%;
  max-width: 600px;
}
