@import "tailwindcss";

@theme {
  --font-sans:
    "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    monospace;
  --font-pixel: "VT323", system-ui, sans-serif;
  --text-shadow-brand: 2px 2px rgb(0, 0, 0 / 1);
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #1e40af;
  --color-brand-light: #f2f2f2;
  --color-brand-dark: #0b192c;
  --color-brand-crimson: #dc143c;
  --color-brand-dawn: #ff6500;
  --color-brand-solar: #ffc55a;
  --color-brand-forest: #41a67e;
  --color-brand-sea: #1055c9;
}

body {
  background-color: var(--color-brand-dark);
}
