@import "tailwindcss";

@theme {
  --font-pixel: "VT323", system-ui, sans-serif;
  --color-brand-light: #f2f2f2;
  --color-brand-dark: #0b192c;
  --color-brand-crimson: #dc143c;
  --color-brand-dawn: #ff6500;
  --color-brand-rise: #ffc55a;
  --color-brand-forest: #41a67e;
  --color-brand-sea: #1055c9;
  --text-shadow-bold: 1.5px 1.5px 0 rgb(0, 0, 0 / 1);
}

body {
  background-color: var(--color-brand-dark);
}
